
*{
    margin: 0;
    padding: 0;
}

/* ---- body ---- */

body{
    background: linear-gradient(#49076c, #e204ff);
    height: 100vh;
    font-family: system-ui;
}

a{
    text-decoration: none;
    color: #ffffff;
}

/* ---- header ---- */

header{
    position: absolute;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    z-index: 100;
}

header .logo{
    font-size: 40px;
    text-transform: uppercase;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header ul li{
    margin-right: 30px;
}

header ul li a{
    padding: 6px 15px;
    border-radius: 20px;
}

header ul li a:hover, .active{
    background: #fff;
    color: #e204ff;

}

/* ---- main ---- */

.main {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to top, #49076c, transparent);
}

.main img {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#moon{
    mix-blend-mode: screen;
    transform: translateY(80px);
}

.sabir{
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    transform: translateY(-140px);
}

/* ---- content ---- */

.content{
    color: #fff;
    padding: 10px;
}

.content h2{
    margin: 20 px;
    font-size: 30px;
}

.content p{
    margin: 20px;
}